<form [formGroup]="searchForm" class="full-width-form">
  <mat-form-field appearance="outline" class="search-city">
    <input matInput placeholder="Search City" formControlName="searchPlace" autofocus>
    <mat-error *ngIf="!searchForm.valid">* City name must contain only english letters</mat-error>
    <mat-icon matSuffix class="search-icon">search</mat-icon>
  </mat-form-field>

  <div class="add-to-favorite" style="align-self: stretch">
    <button mat-icon-button color="primary" (click)="addToFavorite()" [disabled]="isAddFavoriteDisabled()"
            [matTooltip]="'Add To Favorite'">
      <mat-icon [ngClass]="{'disabled': isAddFavoriteDisabled()}" [matTooltip]="_isInFavorite? 'City Is In Favorite' : null">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="removeFromFavorite()" [disabled]="isRemoveFavoriteDisabled()"
            [matTooltip]="'Remove From Favorite'">
      <mat-icon [ngClass]="{'disabled': isRemoveFavoriteDisabled()}" [matTooltip]="_isInFavorite? null : 'Item Not In Favorite'">remove_circle_outline</mat-icon>
    </button>
  </div>

</form>
