<div class="search-container">
  <city-form [formValue]="cityInForm" (onCitySearch)="onInputChange($event)"></city-form>


  <div class="results-holder">

    <span class="city-name">
     {{displayedCityName}}
    </span>

    <div class="current-weather" *ngIf="daysList?.length > 0">
      <div class="day">{{currentWeather?.day}}</div>
      <div class="date">{{currentWeather?.date | date}}</div>
      <div>{{currentWeather?.dayWeather?.main?.temp_max}}&#8451;</div>
      <i color="primary" [ngClass]="'wi '+ weatherService.iconsMapping[currentWeather?.dayWeather?.weather[0]?.icon].icon" [matTooltip]="currentWeather.dayWeather.weather[0].description"></i>
    </div>

    <weather-results-container [daysWeatherList]="daysList"></weather-results-container>

  </div>

</div>
