<mat-card class="day-card" >
  <div class="day">{{dayWeather.day}}</div>
  <div class="date">{{dayWeather.date | date}}</div>
  <div class="spacer"></div>
  <div class="temp">{{mainData.temp_max}} &#8451; <span *ngIf="mainData.temp_min">- {{mainData.temp_min}} &#8451;</span></div>
  <div class="details">
    <i class="wi wi-hot" matTooltip="humidity"></i>
    <span>{{mainData.humidity}}%</span>
    <i class="wi wi-strong-wind" matTooltip="wind speed"></i>
    <span>{{dayWeather?.dayWeather?.wind?.speed}}</span>
  </div>
  <div class="description"> <i color="primary" [ngClass]="'wi '+ iconMapping[dayWeather?.dayWeather?.weather[0]?.icon].icon" [matTooltip]="dayWeather.dayWeather.weather[0].description"></i> </div>
</mat-card>
