mat-card.day-card {
  min-width: 200px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  max-width: 200px;
}

.spacer {
  flex: 1 1 auto;
}

.day {
  font-size: 20px;
}

.description {
  font-size: 25px;
  color: #673ab7;
}

@media screen and (max-width: 800px) {
  mat-card.day-card {
    margin-top: 10px;
  }
}

.wi-strong-wind {
  margin-left: 10px;
}

.details {
  margin: 3px 0 3px 0;
}

.temp {
  font-size: 18px;
}
